@include media-md{
    .menu-btn {
        visibility: visible;
        padding: 0;
        margin: 0;
        
        &__burger {
            &.open {
                &::before {
                    transform: rotate(45deg) translate(1.5px, 0px) scale(0.5, 0.5);
                }
                &::after {
                    width: 28px;
                    transform: rotate(-45deg) translate(11px, -10px) scale(0.5, 0.5);
                }
            }
    
        }
    }

    .nav {
        visibility: visible;
        
        .menu-nav {
            display: block;
            translate: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }
            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .about__bio{
        font-size: 1.5rem;
    }

    .projects {
        &__bio-image {
            height: 40vh;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        .text-secondary{
            font-size: 3rem;
        }
    }
    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }
}


@include media-lg {

    .nav {
        visibility: visible;
        
        .menu-nav {
            display: block;
            translate: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }
            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .projects {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include media-xl {

    .nav {
        visibility: visible;
        
        .menu-nav {
            display: block;
            translate: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }
            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .projects__bio-image {
        height: 50vh
    }
}